{
    "check-coverage": true,
    "statements": 84,
    "branches": 72,
    "functions": 92,
    "lines": 84,
    "include": [
        "generators/**/*.js"
    ],
    "exclude": [
        "generators/cloudfoundry/templates/**",
        "generators/dockertools/templates/**",
        "generators/kubernetes/templates/**"
    ]
}
