{
    "check-coverage": true,
    "statements": 83,
    "branches": 70,
    "functions": 88,
    "lines": 83,
    "include": [
        "generators/**/*.js"
    ],
    "exclude": [
        "generators/cloudfoundry/templates/**",
        "generators/dockertools/templates/**",
        "generators/kubernetes/templates/**"
    ]
}
